<div class="row">
  <div class="col-lg-4">
      <div class="card card-margin">
          <div class="card-header no-border">
              <h5 class="card-title">{{ titulo }}</h5>
          </div>
          <div class="card-body pt-0">
              <div class="widget-49">
                  <div class="widget-49-title-wrapper">
                      <div class="widget-49-date-primary">
                          <span class="widget-49-date-day"><i class="{{ icone }}"></i></span>
                      </div>
                      <div class="widget-49-meeting-info">
                          <span class="widget-49-pro-title">{{ descricao }}</span>
                          <span class="widget-49-meeting-time">{{ descricaoMenor }}</span>
                      </div>
                  </div>
                  <ol class="widget-49-meeting-points">
                      <li class="widget-49-meeting-item"><span>{{ itemUm }}</span></li>
                      <li class="widget-49-meeting-item"><span>{{ itemDois }}</span></li>
                      <li class="widget-49-meeting-item"><span>{{ itemTres }}</span></li>
                  </ol>
                  <div class="widget-49-meeting-action">
                      <a href="#" class="btn btn-sm btn-flash-border-primary">Visualizar tabela</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
