<div class="container col-lg-12 gap-5" style="display: flex;">
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4 "
    titulo="Tabela de Usuários"
    icone="fa-solid fa-users"
    corIcone=""
    descricao="Usuários de Telefonia"
    descricaoMenor="Tabela de usuários de telefonia"
    itemUm="Nome dos usuários"
    itemDois="Telefone dos usuários"
    temTres="Operadoras dos usuários"
    link="/usuarios"
  >
  </app-card-home>
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4"
    titulo="Tabela de Operadoras"
    icone="fa-solid fa-mobile"
    corIcone=""
    descricao="Operadoras de Telefonia"
    descricaoMenor="Tabela de operadoras de telefonia"
    itemUm="Nome das operadoras"
    itemDois="Números por operadoras"
    temTres="Modelos por operadoras"
    link="/"
  >
  </app-card-home>
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4"
    titulo="Tabela de Termo de Responsabilidade"
    icone="fa-solid fa-id-card"
    corIcone=""
    descricao="Termos de Responsabilidade"
    descricaoMenor="Tabela de termos de responsabilidade"
    itemUm="Termo de cada colaborador"
    itemDois="Aparelho de cada colaborador"
    itemTres="Informações do colaborador de acordo com termo"
    link="/"
  >
  </app-card-home>
</div>
<div class="container col-lg-6 p-5">
  <h1 class="text-center fw-bold">Procure rapidamente o colaborador</h1>
  <h5 class="text-center">Utilize o campo abaixo para buscar pelo seu colaborador em mente</h5>
  <app-search-card></app-search-card>
</div>
