<div class="container">
  <app-card-home
    titulo="Tabela de Usuários"
    icone="fa-solid fa-users"
    corIcone=""
    descricao="Usuários de Telefonia"
    descricaoMenor="Tabela de usuários de telefonia"
    itemUm="Nome dos usuários"
    itemDois="Telefone dos usuários"
    temTres="Operadoras dos usuários"
  >
  </app-card-home>
  <app-card-home
    titulo="Tabela de Operadoras"
    icone="fa-solid fa-mobile"
    corIcone=""
    descricao="Operadoras de Telefonia"
    descricaoMenor="Tabela de operadoras de telefonia"
    itemUm="Nome das operadoras"
    itemDois="Números por operadoras"
    temTres="Modelos por operadoras"
  >
  </app-card-home>
  <app-card-home
    titulo="Tabela de Termo de Responsabilidade"
    icone="fa-solid fa-id-card"
    corIcone=""
    descricao="Termos de Responsabilidade"
    descricaoMenor="Tabela de termos de responsabilidade"
    itemUm="Termo de cada colaborador"
    itemDois="Aparelho de cada colaborador"
    itemTres="Informações do colaborador de acordo com termo"
  >
  </app-card-home>
</div>
