<div class="container col-lg-12 gap-5" style="display: flex;">
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4 "
    titulo="Tabela de Usuários"
    icone="fa-solid fa-users"
    descricao="Usuários de Telefonia"
    descricaoMenor="Tabela de usuários de telefonia"
    itemUm="Nome dos usuários"
    itemDois="Telefone dos usuários"
    temTres="Operadoras dos usuários"
    link="/usuarios"
  >
  </app-card-home>
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4"
    titulo="Tabela de Dispositivos"
    icone="fa-solid fa-mobile"
    descricao="Dispositivos de Telefonia"
    descricaoMenor="Tabela de dispositivos de telefonia"
    itemUm="Data de aquisição"
    itemDois="Números dos Dispositivos"
    temTres="Modelos dos Dispositivos"
    link="/dispositivos"
  >
  </app-card-home>
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4"
    titulo="Tabela de Termo de Responsabilidade"
    icone="fa-solid fa-id-card"
    descricao="Termos de Responsabilidade"
    descricaoMenor="Tabela de termos de responsabilidade"
    itemUm="Termo de cada colaborador"
    itemDois="Aparelho de cada colaborador"
    itemTres="Informações do colaborador de acordo com termo"
    link="/termoResponsabilidade"
  >
  </app-card-home>
</div>
<div class="container col-lg-12 gap-5" style="display: flex;">
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4 "
    titulo="Tabela de Notas Fiscais"
    icone="fa-solid fa-ticket"
    descricao="Notas Fiscais"
    descricaoMenor="Tabela de notas fiscais"
    itemUm="Números das notas fiscais"
    itemDois="Valor das notas fiscais"
    temTres="Datas das notas fiscais"
    link="/notasFiscais"
  >
  </app-card-home>
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4"
    titulo="Tabela de Planos de Contas"
    icone="fa-solid fa-money-bill"
    descricao="Planos de Contas"
    descricaoMenor="Tabela de planos de contas"
    itemUm="Custo de cada linha"
    itemDois="Data de vencimento"
    itemTres="Data de aquisição"
    link="/planosContas"
  >
  </app-card-home>
  <app-card-home class="d-flex justify-content-center align-items-center col-lg-4"
    titulo="Tabela de Linhas Telefônicas"
    icone="fa-solid fa-phone"
    descricao="Linhas Telefônicas"
    descricaoMenor="Tabela de linhas telefônicas"
    itemUm="Número de cada colaborador"
    itemDois="Ramal de cada unidade"
    itemTres="Operadora de cada linha telefônica"
    link="/linhasTelefonicas"
  >
  </app-card-home>
</div>
<div class="container col-lg-6 p-5">
  <h1 class="text-center fw-bold">Procure rapidamente o colaborador</h1>
  <h5 class="text-center">Utilize o campo abaixo para buscar pelo seu colaborador em mente</h5>
  <app-search-card></app-search-card>
</div>
