main {
  margin: 8em auto 0 auto;
}

h1 {
  font-size: 6em;
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

.btn-home {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--azul);
  border-color: var(--azul);
  border: 2px solid var(--azul);
}

.btn-home:hover {
  background-color: rgb(9, 9, 92);
  border-color: rgb(9, 9, 92);
  color: var(--branco);
}
