<div class="container">
  <form>
    <div class="row">
      <h6>Colaborador</h6>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Nome completo">
        <div class="input-icon">
          <i class="fa fa-user"></i>
        </div>
      </div>
      <div class="input-group input-group-icon col-half">
        <input type="text" placeholder="Matrícula">
        <div class="input-icon">
          <i class="fa-solid fa-id-card"></i>
        </div>
      </div>
      <div class="input-group input-group-icon col-half">
        <input type="text" placeholder="Diretoria">
        <div class="input-icon">
          <i class="fa-solid fa-user-group"></i>
        </div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Cargo">
        <div class="input-icon">
          <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-half">
        <h6>Data de Admissão</h6>
        <div class="input-group">
          <div class="col-third">
            <input type="text" placeholder="DIA">
          </div>
          <div class="col-third">
            <input type="text" placeholder="MÊS">
          </div>
          <div class="col-third">
            <input type="text" placeholder="ANO">
          </div>
        </div>
      </div>
      <div class="col-half">
        <h6>Número de Telefone</h6>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Número">
          <div class="input-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <h6>Detalhes do Aparelho</h6>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Aparelho">
        <div class="input-icon">
          <i class="fa-solid fa-mobile"></i>
        </div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="IMEI">
        <div class="input-icon">
          <i class="fa-solid fa-hashtag"></i>
        </div>
      </div>
    </div>
    <button class="btn btn-block col-12 btn-envio">Salvar</button>
  </form>
</div>
