<nav id="sidebar" [class.open-sidebar]="isSidebarOpen">
  <div id="sidebar_content">
      <div id="user">
          <img src="./assets/imagens/BIOMETRIA.jpg" id="user_avatar" alt="Avatar">
          <p id="user_infos">
              <span class="item-description">
                  Evaldo Rodrigues
              </span>
              <span class="item-description">
                  TI
              </span>
          </p>
      </div>
      <ul id="side_items">
        <li class="side-item" [ngClass]="{'active': isActive('/home')}">
          <a href="/home">
              <i class="fa-solid fa-house"></i>
              <span class="item-description">
                  Home
              </span>
          </a>
      </li>
        <li class="side-item" [ngClass]="{'active': isActive('/usuarios')}">
          <a href="/usuarios">
              <i class="fa-solid fa-users"></i>
              <span class="item-description">
                  Usuários de Telefonia
              </span>
          </a>
      </li>
          <li class="side-item" [ngClass]="{'active': isActive('/dispositivos')}">
              <a href="/dispositivos">
                 <i class="fa-solid fa-mobile"></i>
                  <span class="item-description">
                      Dispositivos
                  </span>
              </a>
          </li>
          <li class="side-item" [ngClass]="{'active': isActive('/termoResponsabilidade')}">
              <a href="/termoResponsabilidade">
                  <i class="fa-solid fa-id-card"></i>
                  <span class="item-description">
                      Termo de Responsabilidade
                  </span>
              </a>
          </li>
          <li class="side-item" [ngClass]="{'active': isActive('/notasFiscais')}">
            <a href="/notasFiscais">
                <i class="fa-solid fa-ticket"></i>
                <span class="item-description">
                    Notas Fiscais
                </span>
            </a>
        </li>
        <li class="side-item" [ngClass]="{'active': isActive('/planosContas')}">
          <a href="/planosContas">
              <i class="fa-solid fa-money-bill"></i>
              <span class="item-description">
                  Plano de Contas
              </span>
          </a>
      </li>
      <li class="side-item" [ngClass]="{'active': isActive('/linhasTelefonicas')}">
        <a href="/linhasTelefonicas">
            <i class="fa-solid fa-phone"></i>
            <span class="item-description">
                Linhas Telefônicas
            </span>
        </a>
    </li>
      </ul>
      <button id="open_btn" (click)="toggleSidebar()" >
          <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
      </button>
  </div>
  <div id="report">
      <a class="btn-report" id="report_btn" href="/reportarProblema">
          <i class="fa-solid fa-bug"></i>
          <span class="item-description">
              Reportar Problema
          </span>
      </a>
  </div>
</nav>
